<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!-- Good old fashioned CSS -->
		<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css"/>
		<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/layout.css"/>
		
		<!-- Import CSS for Mast templates -->
		<%- partial('../lib/mast/mastCss.ejs') %>
		
		<!-- Import JS for Mast components -->
		<%- partial('../lib/mast/mastJs.ejs') %>
		
		<script type="text/javascript">
		// Instantiate the Mast library
		Mast.raise();
		</script>
		
	</head>
	<body>
		<div id="topbar">
			<h1 id="branding">
				<a href="/">sails.js</a>
			</h1>

			<!-- Turn this into a proper component -->
			<% 
				var authedNavbar = [
					 {label: "Logout", href:"/logout"}
				],
					unauthedNavbar = [
					 {label: "Login", href:"/login"}
					,{label: "Register", href:"/register"}
					,{label: "Register as Admin", href:"/auth/registerAdmin"}
				];
			%>
			<ul class="widescreen-nav">
				<% _.each((session.authenticated) ? authedNavbar : unauthedNavbar,
						function(item) { %>
				<li><a href="<%- item['href'] %>"><%- item['label'] %></a></li>
					<% }); %>
			</ul>
			<select class="mobile-only" id="topbar-dropdown">
				<option>-- Go --</option>
			<% _.each((session.authenticated) ? authedNavbar : unauthedNavbar,
						function(item) { %>
				<option href="<%- item['href'] %>"><%- item['label'] %></option>
					<% }); %>
			</select>
			<script type="text/javascript">
				// Handle mobile navbar
				$(function(){
					$("#topbar-dropdown").change(function (e) {
						var destination = $(e.currentTarget).find("option:selected").attr('href');
						window.location = destination;
					});
				});
			</script>
		</div>

		<div id="content">
			<%- body %>
		</div>

		<!-- Template Library -->
		<%- partial('../lib/mast/templateLibrary.ejs') %>
		
		<div id="footer">
			<a target="_blank" href="http://sailsjs.com" class="copyright">&copy; Mast Framework 2012</a>
		</div>
	</body>
</html>
